<!--Form that asks for a competitor's first and last name.  Competitor must already exist.-->
{% extends "layout.html" %}

<!--Season or Tournament name:-->
{% block judgepage %}
<p>Add a new Competitor to the {{ result.title() }}.</p>
<p><a href="/">Back to Judge Home</a></p>
<p><a href="{{ returnlink }}">Back to {{ result }}</a></p>
{% endblock %}

{% block body %}

    <form action="/enrollcompetitor" method="post">
        <input autocomplete="off" autofocus name="firstname" placeholder="First Name" type="text">
        <input autocomplete="off" name="lastname" placeholder="Last Name" type="text">
        <input type="submit" value="Add">
    </form>

{% endblock %}