<!--Index page when NOT LOGGED IN for purposes of COMPETITOR viewing of results not judges-->
{% extends "layout.html" %}

{% block body %}

    <a href="/login">Judge Log In</a>

    <p>You can view player stats by:</p>

    <ul>
        <li><a href="/overall">Overall</a></li>
        <li><a href="/discipline">Discipline</a></li>
        <li><a href="/season">Season</a></li>
        <li><a href="/competitor">Competitor</a></li>
        <li><a href="/tournament">Tournament</a></li>
        <li><a href="/challenges">Challenges</a></li>
    </ul>

{% endblock %}