{% extends "layout.html" %}

{% block body %}
    <p>You are logged in as {{ session.name }}.</p>
    
    <a href="/logout">Log Out</a>

    <p>You can:</p>

    <ul>
        <li><a href="/newjudge">Create New Judge Account</a></li>
        <li><a href="/newcompetitor">Create New Competitor</a></li>
        <li><a href="/newseason">Create New Season</a></li>
        <li><a href="/newtournament">Create New Tournament</a></li>
        <li><a href="/scorematch">Score a Match</a></li>
    </ul>

{% endblock %}