{% extends "layout.html" %}

{% block body %}
    <p>You are logged in as {{ session.name }}.</p>
    
    <a href="/logout">Log Out</a>

    <p>You can:</p>

    <ul>
        <li><a href="/newjudge">Create New Judge Account</a></li>
        <li><a href="/newcompetitor">Create New Competitor</a></li>
        <li><a href="/newseason">Create New Season</a></li>
        <li><a href="/newtournament">Create New Tournament</a></li>

        <li>Judge a Season
            <form action="/seasonview" method="get">
                <select name="season" id="season">
                    {% for x in rows %}
                        <option value="{{ x['season_id'] }}">{{ x["season"] }} {{ x["yearof"] }} {{ x["discipline"] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Begin">
        </li>

        <li>Judge a Tournament
            <form action="/tournamentview" method="get">
                <select name="tournament" id="tournament">
                    {% for y in cols %}
                        <option value="{{ x['tournament_id'] }}">{{ y["tournament_name"] }} {{ y["discipline"] }} tournament on {{ y["tournament_date"] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Begin">
        </li>
    </ul>
{% endblock %}