<!--Form to create a new competitor-->
{% extends "layout.html" %}

{% block judgepage %}
    <h3>Create a new Competitor</h3>
    
    <p><a href="/">Back to Judge Home</a></p>
{% endblock %}

{% block body %}

    <form action="/newcompetitor" method="post">
        <input autocomplete="off" autofocus name="firstname" placeholder="First Name" type="text">
        <input autocomplete="off" name="lastname" placeholder="Last Name" type="text">
        <input type="submit" value="Create">
    </form>

{% endblock %}