<!--Form to create a new judge-->
{% extends "layout.html" %}

{% block judgepage %}
    <h3>Create a new Judge Account</h3>

    <p><a href="/">Back to Judge Home</a></p>
{% endblock %}

{% block body %}

    <form action="/newjudge" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <input autocomplete="off" name="password" placeholder="Password" type="text">
        <input autocomplete="off" name="confirmation" placeholder="Confirm Password" type="text">
        <input type="submit" value="Create">
    </form>

{% endblock %}