<!--Form to create a new season-->
{% extends "layout.html" %}

{% block judgepage %}
    <h3>Create a new Season:</h3>

    <p><a href="/">Back to Judge Home</a></p>
{% endblock %}

{% block body %}

    <form action="/newseason" method="post">
        <label for="season">Season:</label>
        <input class="form-select-sm" type="text" name="season" id="season"></input>
        <input class="form-select-sm" type="number" min="2022" max="2099" step="1" value="2022" name="year" id="year">
        <label for="startdate">Start Date:</label>
        <input class="form-select-sm" type="date" name="startdate" id="startdate" min="2022-08-08">
        <input class="btn btn-sm btn-outline-primary" type="submit" value="Create">
    </form>



{% endblock %}