{% extends "layout.html" %}

{% block body %}

    <h1>{{ player_stats[1] }} {{ player_stats[2] }}</h1>
    <h3>Average Score: </h3><p>{{ player_stats[3] }}</p>
    <h3>Win Ratio: </h3><p>{{ player_stats[4] }}</p>
    <h3>Games Played: </h3><p>{{ player_stats[5] }}</p>

    <table id="matches" class="display" style="width:95%">
        <thead>
            <tr>
                <th>Hatchet Matches: </th>
            </tr>
        </thead>
        <tbody>
            {% for each in match_list %}
                <tr role="button" data-href="match_view?match_id={{ each['match_id'] }}">
                    <td>
                        {% if each['winner_id'] == player_stats['competitor_id'] %}
                            WIN
                        {% else %}
                            LOSS
                        {% endif %} 
                        {% if each['player_1_id'] == player_stats[0] %} 
                            {{ each['player1total'] }} to {{ each['player2total'] }} against {{ each['player_2_name'] }}
                        {% else %} 
                            {{ each['player2total'] }} to {{ each['player1total'] }} against {{ each['player_1_name'] }}
                        {% endif %}
                        on {{ each['dt'].strftime('%m-%d-%Y') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{{ url_for('static', filename='js/statview.js') }}"></script>

{% endblock %}