
{% extends "layout.html" %}

{% block body %}
    <p>You are logged in as {{ session.name }}.    <a href="/logout">Log Out</a></p>
    <h2>Score a Match</h2>
        <h3>{{ array_competitors[0][1] }} {{ array_competitors[0][2] }} Versus {{ array_competitors[1][1] }} {{ array_competitors[1][2] }}</h3>
    <p><a href="/seasonview">Return to Season View</a></p>
    <form action="/scorematch" method="POST" onsubmit="CheckTie()">
        <input type="hidden" id="sequence" name="sequence">
        <table>
            <colgroup>
                <col span="1" style="background-color: red">
                <col span="3" style="background-color: beige">
                <col span="1" style="background-color: blue">
            </colgroup>
            <head>
                <th>
                    {{ array_competitors[0][1] }} {{ array_competitors[0][2] }}
                </th>
                <th id="p1score">0</th><th></th><th id="p2score">0</th>
                <th>
                    {{ array_competitors[1][1] }} {{ array_competitors[1][2] }}
                </th>
            </head>
            <tbody>
                <tr>
                    <td>
                        <select name="p1t1" id="p1t1" class="1" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        Throw 1:
                    </td>
                    <td>
                        <button type="button" onclick="return ShowRound('t1')">Begin</button>
                        <p id="t1" style="display:none"></p>
                    </td>
                    <td>
                        <input type="radio" name="q1" class="1q" value="p1" style="accent-color:red" disabled>
                        <input type="radio" name="q1" value="" style="accent-color:black">
                        <input type="radio" name="q1" class="2q" value="p2" style="accent-color:blue" disabled>
                    </td>
                    <td>
                        <select name="p2t1" id="p2t1" class="2" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="p1t2" id="p1t2" class="1" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        Throw 2:
                    </td>
                    <td>
                        <button type="button" onclick="return ShowRound('t2')">Begin</button>
                        <p id="t2" style="display:none"></p>
                    </td>
                    <td>
                        <input type="radio" name="q2" class="1q" value="p1" style="accent-color:red" disabled>
                        <input type="radio" name="q2" value="" style="accent-color:black">
                        <input type="radio" name="q2" class="2q" value="p2" style="accent-color:blue" disabled>
                    </td>
                    <td>
                        <select name="p2t2" id="p2t2" class="2" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="p1t3" id="p1t3" class="1" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        Throw 3:
                    </td>
                    <td>
                        <button type="button" onclick="return ShowRound('t3')">Begin</button>
                        <p id="t3" style="display:none"></p>
                    </td>
                    <td>
                        <input type="radio" name="q3" class="1q" value="p1" style="accent-color:red" disabled>
                        <input type="radio" name="q3" value="" style="accent-color:black">
                        <input type="radio" name="q3" class="2q" value="p2" style="accent-color:blue" disabled>
                    </td>
                    <td>
                        <select name="p2t3" id="p2t3" class="2" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="p1t4" id="p1t4" class="1" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        Throw 4:
                    </td>
                    <td>
                        <button type="button" onclick="return ShowRound('t4')">Begin</button>
                        <p id="t4" style="display:none"></p>
                    </td>
                    <td>
                        <input type="radio" name="q4" class="1q" value="p1" style="accent-color:red" disabled>
                        <input type="radio" name="q4" value="" style="accent-color:black">
                        <input type="radio" name="q4" class="2q" value="p2" style="accent-color:blue" disabled>
                    </td>
                    <td>
                        <select name="p2t4" id="p2t4" class="2" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="p1t5" id="p1t5" class="1" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        Throw 5:
                    </td>
                    <td>
                        <button type="button" onclick="return ShowRound('t5')">Begin</button>
                        <p id="t5" style="display:none"></p>
                    </td>
                    <td>
                        <input type="radio" name="q5" class="1q" value="p1" style="accent-color:red" disabled>
                        <input type="radio" name="q5" value="" style="accent-color:black">
                        <input type="radio" name="q5" class="2q" value="p2" style="accent-color:blue" disabled>
                    </td>
                    <td>
                        <select name="p2t5" id="p2t5" class="2" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="p1t6" id="p1t6" class="1" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        Throw 6:
                    </td>
                    <td>
                        <button type="button" onclick="return ShowRound('t6')">Begin</button>
                        <p id="t6" style="display:none"></p>
                    </td>
                    <td>
                        <input type="radio" name="q6" class="1q" value="p1" style="accent-color:red" disabled>
                        <input type="radio" name="q6" value="" style="accent-color:black">
                        <input type="radio" name="q6" class="2q" value="p2" style="accent-color:blue" disabled>
                    </td>
                    <td>
                        <select name="p2t6" id="p2t6" class="2" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="p1t7" id="p1t7" class="1" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        Throw 7:
                    </td>
                    <td>
                        <button type="button" onclick="return ShowRound('t7')">Begin</button>
                        <p id="t7" style="display:none"></p>
                    </td>
                    <td>
                        <input type="radio" name="q7" class="1q" value="p1" style="accent-color:red" disabled>
                        <input type="radio" name="q7" value="" style="accent-color:black">
                        <input type="radio" name="q7" class="2q" value="p2" style="accent-color:blue" disabled>
                    </td>
                    <td>
                        <select name="p2t7" id="p2t7" class="2" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="p1t8" id="p1t8" class="1" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        Throw 8:
                    </td>
                    <td>
                        <button type="button" onclick="return ShowRound('t8')">Begin</button>
                        <p id="t8" style="display:none"></p>
                    </td>
                    <td>
                        <input type="radio" name="q8" class="1q" value="p1" style="accent-color:red" disabled>
                        <input type="radio" name="q8" value="" style="accent-color:black">
                        <input type="radio" name="q8" class="2q" value="p2" style="accent-color:blue" disabled>
                    </td>
                    <td>
                        <select name="p2t8" id="p2t8" class="2" required>
                            <option value="" disabled selected>Score</option>
                            <option value="D">Drop</option>
                            <option value="F">Fault</option>
                            {% for i in possible_scores %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <select name="winner" id="winner" hidden>
            <option value="" disabled selected>Winner of the Tie Breaker:</option>
            <option value="{{ array_competitors[0][0] }}">{{ array_competitors[0][1] }} {{ array_competitors[0][2] }}</option>
            <option value="{{ array_competitors[1][0] }}">{{ array_competitors[1][1] }} {{ array_competitors[1][2] }}</option>
        </select>
        <input type="Submit" value="Submit Match Scores">
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='js/scorematch.js') }}"></script>


{% endblock %}

