<!--Index page when NOT LOGGED IN for purposes of COMPETITOR viewing of results not judges-->
{% extends "layout.html" %}
{% block title %}{{ season_info[1] }} {{ season_info[2] }} {{ season_info[3] }} Season{% endblock %}
{% block body %}
    <table id="seasonstats" class="table table-dark display table-hover" style="width:95%">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Season Average</th>
                <th>Season Win Ratio</th>
                <th>Games Played this Season</th>
            </tr>
        </thead>
        <tbody>
            {% for each in player_list %}
                <tr role="button" data-href="player_view?player_id={{ each[0] }}">
                    <td>{{ each[0] }}</td>
                    <th>{{ each[1] }}</th>
                    <th>{{ each[2] }}</th>
                    <td>{{ each[6] }}</td>
                    <td>{{ each[7] }}</td>
                    <td>{{ each[8] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <table id="matches" class="table table-dark display table-hover" style="width:95%">
        <thead>
            <tr>
                <th>Most Recent Matches</th>
            </tr>
        </thead>
        <tbody>
            {% for each in match_list %}
                <tr role="button" data-href="match_view?match_id={{ each[0] }}">
                    <td>
                        {{ each[12] }} WON 
                        {% if each['winner_id'] == each[player_1_id] %} 
                            {{ each['player1total'] }} to {{ each['player2total'] }} against {{ each[14] }}
                        {% else %} 
                            {{ each['player2total'] }} to {{ each['player1total'] }} against {{ each[13] }}
                        {% endif %} 
                        on {{ each['dt'].strftime('%m-%d-%Y') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{{ url_for('static', filename='js/statview.js') }}"></script>

{% endblock %}