<!--Page displaying a judge's options within a season (enroll competitor, start match, view players, recent matches)-->

<style>
    input[type="checkbox"]:checked + label {
        background: skyblue;
    }
</style>

{% extends "layout.html" %}

{% block judgepage %}
    <p>You are judging Season {{ rows[0]["season"] }} of {{ rows[0]["yearof"] }}.</p>
    <a href="/">Leave Season/ Back to Judge Homepage</a>
{% endblock %}

{% block body %}
    <form>
        <label for="quarter">Quarter:</label>
        <input type="number" min="1" class="view form-select-sm" max="4" step="1" value="{{ session['selected_quarter'] }}" name="quarter" id="quarter"/>
        <label for="lap">Series:</label>
        <input type="number" min="1" class="view form-select-sm" max="3" step="1" value="{{ session['selected_lap'] }}" name="lap" id="lap"/>
    </form>
    <table id="weeklymatchups" class="table table-hover table-info display" style="width:95%">
        <thead>
            <tr>
                <th class="table-active"></th>
                {% for player in players %}
                    <th class="grid {{ player['competitor_id']  }} toprow" data-player="{{ player['competitor_id'] }}">{{ player["competitor_first_name"] }} {{ player["competitor_last_name"] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for player in players|reverse %}
                <tr>
                    <th class="grid toprow {{ player['competitor_id'] }}" data-player="{{ player['competitor_id'] }}">{{ player["competitor_first_name"] }} {{ player["competitor_last_name"] }}</th>
                    {% for opponent in players %}
                        {% if player == opponent %}
                            <td class="table-active"></td>
                        {% else %}
                            <td data-p1="{{ player['competitor_id']}}" data-p2="{{ opponent['competitor_id'] }}" class="{{ player['competitor_id'] }} {{ opponent['competitor_id'] }} squares">
                            {% for match in logged_matches %}
                                {% if ((match["player_1_id"] == player["competitor_id"]) and (match["player_2_id"] == opponent["competitor_id"])) or ((match["player_2_id"] == player["competitor_id"]) and (match["player_1_id"] == opponent["competitor_id"])) %}
                                    {% if match["winner_id"] == None %}
                                        <p data-match="{{ match['match_id'] }}">begun</p>
                                    {% else %}
                                        complete
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/enrollcompetitor">Enroll a Competitor</a>
    <form action="/createquarter" method="post">
        <label for="new_quarter">New Quarter:</label>
        <input type="text" class="form-select-sm" name="new_quarter" id="new_quarter">
        <label for="quarter_date">Start Date:</label>
        <input type="date" class="form-select-sm" name="quarter_date" id="quarter_date">
        <input id="season" name="season" hidden value="{{ rows[0]['season_id'] }}">
        <button class="btn btn-sm btn-outline-primary" type="submit">Begin</button>
    </form>
    <form action="/createlap" method="post">
        <label for="new_lap">New Series:</label>
        <input type="text" class="form-select-sm" name="new_lap" id="new_lap">
        <label for="lap_date">Start Date:</label>
        <input type="date" class="form-select-sm" name="lap_date" id="lap_date">
        <select name="quarter_id" class="form-select-sm" id="quarter_id">
            {% for quarter in season_quarters %}
                <p>{{ quarter['quarter_id'] }}</p>
                <option value="{{ quarter['quarter_id'] }}">{{ quarter['month'] }}</option>
            {% endfor %}
        </select>
        <label for="discipline">Discipline:</label>
        <input type="text" class="form-select-sm" name="discipline" id="discipline">
        <button class="btn btn-sm btn-outline-primary" type="submit">Begin</button>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='js/season.js') }}"></script>

{% endblock %}

