<!--Index page when NOT LOGGED IN for purposes of COMPETITOR viewing of results not judges-->
{% extends "layout.html" %}
{% block title %}{{ season_info['season'].capitalize() }} {{ season_info['yearof'] }} Season{% endblock %}
{% block body %}
    <table id="seasonstats" class="table table-dark display table-hover" style="width:95%">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Season Average</th>
                <th>Season Win Ratio</th>
                <th>Games Played this Season</th>
            </tr>
        </thead>
        <tbody>
            {% for each in player_list %}
                <tr role="button" data-href="player_view?player_id={{ each[0] }}">
                    <td>{{ each[0] }}</td>
                    <th>{{ each[1] }}</th>
                    <th>{{ each[2] }}</th>
                    <td>{{ each[6] }}</td>
                    <td>{{ each[7] }}</td>
                    <td>{{ each[8] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <table id="matches" class="table table-dark display table-hover" style="width:95%">
        <thead>
            <tr>
                <th>Most Recent Matches</th>
            </tr>
        </thead>
        <tbody>
            {% for match in match_list %}
                <tr role="button" data-href="match_view?match_id={{ match['match_id'] }}">
                    <td>
                        {{ match[8] }} WON 
                        {% if match['winner_id'] == match['player_1_id'] %} 
                            {{ match['player1total'] }} to {{ match['player2total'] }} against {{ match[10] }}
                        {% else %} 
                            {{ match['player2total'] }} to {{ match['player1total'] }} against {{ match[9] }}
                        {% endif %} 
                        on {{ match['dt'].strftime('%m-%d-%Y') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{{ url_for('static', filename='js/statview.js') }}"></script>

{% endblock %}