<!--Page displaying a judge's options within a tournament (enroll competitor, start match, view players, recent matches)-->
{% extends "layout.html" %}

{% block body %}
    <p>You are logged in as {{ session.name }}.    <a href="/logout">Log Out</a></p>
    <p>You are judging the {{ cols[0]["tournament_name"] }} {{ cols[0]["discipline"] }} tournament on {{ cols[0]["tournament_date"] }}.     <a href="/">Leave Tournament/ Back to Judge Homepage</a></p>
    <!--
    {% if {{ cols[0]["started"] }} is FALSE %}
        <form action="/begintournament" method="get">
            <input type="submit" value="Begin Tournament">
        </form>
        <p>Note: this may block enrollment to the tournament.</p>
    {% endif %}
    {% if {{ cols[0]["started"] }} is TRUE %}
        <h2>Suggested Matches</h2>
    {% endif %}
    -->
    <p>{{ cols[0]["started"] }}</p>
    <h2>All Competitors</h2>
        <table>
            <head>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </head>
            <tbody>
                {% for x in players %}
                <tr>
                    <td>
                        {{ x["competitor_first_name"] }}
                    </td>
                    <td>
                        {{ x["competitor_last_name"] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% if {{ cols[0]["enrollment_open"] }} %}
        <p><a href="/enrollcompetitor">Enroll a Competitor</a></p>
    {% endif %}

{% endblock %}