<!--Index page when NOT LOGGED IN for purposes of COMPETITOR viewing of results not judges-->
{% extends "layout.html" %}

{% block body %}
    <div class="tourney" style="width:95%"></div>
    <div>
        <label class="rangePicker">
            Team Width<br>
            <input oninput="resize(this, 'teamWidth')" type="range" min="30" max="100" step="1" value="60">
        </label><br>
        <label class="rangePicker">
            Score Width<br>
            <input oninput="resize(this, 'scoreWidth')" type="range" min="20" max="100" step="1" value="40">
        </label><br>
        <label>
            Match Margin<br>
            <input  oninput="resize(this, 'matchMargin')" type="range" min="3" max="100" step="1" value="20">
        </label><br>
        <label>
            Round Margin<br>
            <input  oninput="resize(this, 'roundMargin')" type="range" min="3" max="100" step="1" value="20">
        </label><br>
    </div>

    <script type="text/javascript">
        var teamsArray = {{ teams_array|safe }};
        var resultsArray = {{ results }};

        console.log(resultsArray);
        var bigData = {
            teams : teamsArray,
            results : resultsArray,
        };
        
        $(function() {
            $('.tourney').bracket({skipConsolationRound: true, init: bigData})
        })

        var resizeParameters = {
            skipConsolationRound: true, 
            init: bigData
        };

        function resize(target, propName) {
            resizeParameters[propName] = parseInt(target.value);
            updateResizeDemo();
        }


        function updateResizeDemo() {
            $('.tourney').bracket(resizeParameters);
        }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/statview.js') }}"></script>

{% endblock %}