<!--Page displaying a judge's options within a tournament (enroll competitor, start match, view players, recent matches)-->
{% extends "layout.html" %}

{% block judgepage %}
    <p>You are judging the {{ tournament_info["tournament_name"] }} {{ tournament_info['discipline'] }} Tournament on {{ tournament_info["tournament_date"] }}.</p>
    <a href="/">Leave Tournament/ Back to Judge Homepage</a>
{% endblock %}

{% block body %}


            
    {% if tournament_info["current_round"] %}
        <h2>Upcoming Matches</h2>
            <p class="nextround">All matches for this round are complete.</p>
            <form action="/nextround" method="get" class="nextround">
                <input type="submit" value="Next Round">
            </form>
        <form class="thisround" action="/editmatch" method="get">
            <select multiple size="any number" class="form-select-sm" name="match" id="match">
                {% for each in match_info %}
                    {% if "match" in each %}
                        <option value="{{ each[1] }}">{{ match_info[match_info.index(each) + 1][1] }} {{ match_info[match_info.index(each) + 1][2]}} Vs. {{ match_info[match_info.index(each) + 2][1] }} {{ match_info[match_info.index(each) + 2][2]}}</option>
                        <script>
                            const list = document.querySelectorAll(".nextround");
                            for (var i = 0; i < list.length; i++) {
                                list[i].hidden = true;
                            }
                        </script>
                    {% endif %}
                    {% if "completed" in each %}
                        <script>
                            list = document.querySelectorAll(".nextround");
                            for (var i = 0; i < list.length; i++) {
                                list[i].hidden = false;
                            }
                        </script>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Score a Match" class="btn btn-sm btn-outline-primary">
        </form>   

    {% else %}
        <form action="/begintournament" method="get">
            <input type="submit" value="Begin Tournament">Note: this may block enrollment to the tournament.
        </form>
    {% endif %}

    <h2>All Competitors</h2>
    <table>
        <head>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </head>
        <tbody>
            {% for x in players %}
            <tr>
                <td>
                    {{ x["competitor_first_name"] }}
                </td>
                <td>
                    {{ x["competitor_last_name"] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if tournament_info["enrollment_open"] == True %}
        <p><a href="/enrollcompetitor">Enroll a Competitor</a></p>
    {% endif %}

{% endblock %}