<!--Page displaying a judge's options within a tournament (enroll competitor, start match, view players, recent matches)-->
{% extends "layout.html" %}

{% block body %}
    <p>You are logged in as {{ session.name }}.    <a href="/logout">Log Out</a></p>
    <p>You are judging the {{ cols["tournament_name"] }} {{ cols["discipline"] }} tournament on {{ cols["tournament_date"] }}.     <a href="/">Leave Tournament/ Back to Judge Homepage</a></p>
            
    {% if cols["current_round"] %}
        <h2>Upcoming Matches</h2>
        {% for each in match_info %}
            {% if each == "bye" %}
                <p>{{ match_info[match_info.index(each) + 1] }} has a bye.</p>
            {% elif each == "match" %}
                <p>{{ match_info[match_info.index(each) + 1] }} versus {{ match_info[match_info.index(each) + 2] }}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <form action="/begintournament" method="get">
            <input type="submit" value="Begin Tournament">Note: this may block enrollment to the tournament.
        </form>
    {% endif %}

    <h2>All Competitors</h2>
    <table>
        <head>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </head>
        <tbody>
            {% for x in players %}
            <tr>
                <td>
                    {{ x["competitor_first_name"] }}
                </td>
                <td>
                    {{ x["competitor_last_name"] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if cols["enrollment_open"] %}
        <p><a href="/enrollcompetitor">Enroll a Competitor</a></p>
    {% endif %}

{% endblock %}